table
{
    border-collapse:collapse;
}
table,th, td div
{
    height: 25px;
    border: 1px solid black;
}
.schedule-open {
    /*background-color: greenyellow;*/
}
.schedule-filled {
    background-color: lightgray;
}

form.search label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding-right: 15px;
}

form.search label::after {
	content: ":";
}