table
{
    border-collapse:collapse;
}
.schedule-table table, td div
{
    border: 1px solid black;
    height: 25px;
}
.schedule-table table, td {
    /*border: 1px solid black;*/
}
table,th, td
{
    padding: 5px;
    height: 25px;
    border: 1px solid black;
}
.schedule-open {
    /*background-color: greenyellow;*/
}
.schedule-filled {
    background-color: lightgray;
}

form label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding-right: 15px;
}

form label::after {
	content: ":";
}

tr.child.collapse {
	display: none;
}