table
{
    border-collapse:collapse;
}
table,th, td div
{
    height: 25px;
    border: 1px solid black;
}
.schedule-open {
    /*background-color: greenyellow;*/
}
.schedule-filled {
    background-color: lightgray;
}
